* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: green;
}

.btn {
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 10px;
    cursor: pointer;
}

.btn-green {
    background-color: #74b074;
}

.btn-red {
    background-color: #b07474;
}